<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow">
  <a class="navbar-brand" href="javascript:void()">WAYCOOL</a>
  <p>
    <button type="button" class="btn btn-outline-light navbar-toggler" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-icon" ></span>
    </button>
  </p>
  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto mt-2">
      <li class="nav-item">
        <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>