<div class="dashboard-page-body">
  <app-navbar></app-navbar>
  <div class="">
    <div class="row no-gutters mt-5">
      <div class="col-md-1">
        <div class="sidebar-wrapper">
          <app-sidebar></app-sidebar>
        </div>
      </div>
      <div class="col-md-11 mt-5 ">
        <div class="row mr-auto">
          <div class="col-md-3">
            <div class="card shadow image-card">
              <div class="card-body image-container">
                <div class="text-center">
                  <div class="row">
                    <div class="col-md-8 mx-auto">
                      <img *ngIf="userInfo.photoUrl !='';else default" [src]="userInfo.photoUrl" class="image mt-2" />
                      <ng-template #default>
                        <img else src="../../assets/images/default.jpeg" class="image mt-2" />
                      </ng-template>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="card-footer">
                <h3 class="label-name">{{userInfo.name}}</h3>
                <h6><span>User Id :</span> {{userInfo._id}}</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-10">
                    <h5>Personal Details</h5>
                  </div>
                </div>

                <hr>
                <form ngNativeValidate class="form" #form (ngSubmit)="form.checkValidity()? onEdit() : null">

                  <table>
                    <tr>
                      <td style="width:8%"><b>Name : </b></td>
                      <td style="width:50%"><input type="text" class="form-control login-input" name="userInfo.name"
                          [(ngModel)]="userInfo.name" required autocomplete="off" disabled></td>
                    </tr><br>
                    <tr>
                      <td><b>Email : </b></td>
                      <td><input type="email" class="form-control login-input" name="userInfo.email"
                          [(ngModel)]="userInfo.email" autocomplete="off" disabled></td>
                    </tr><br>
                    <tr *ngIf="userInfo.dob == ''">
                      <td><b>DOB : </b></td>
                      <td><input class="form-control login-input" (keypress)="restrictKeypress($event)"
                          autocomplete="off" name="edit.dob" [(ngModel)]="edit.dob" required ngbDatepicker
                          #d="ngbDatepicker" placeholder="yyyy-mm-dd">
                        <div class="input-group-append">
                          <button class="btn btn-secondary login-input" (click)="d.toggle()" type="button"><i
                              class="far fa-calendar-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="userInfo.dob != ''">
                      <td><b>DOB : </b></td>
                      <td><input type="email" class="form-control login-input" name="userInfo.dob"
                          [(ngModel)]="userInfo.dob" autocomplete="off" disabled></td>
                    </tr><br>
                    <tr>
                      <td><b>Gender : </b></td>
                      <td *ngIf="userInfo.gender == '-'">
                        <select *ngIf="userInfo.gender == '-'" class="form-control" name="edit.gender"
                          [(ngModel)]="edit.gender" required>
                          <option selected value="">Select Gender</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select></td>
                      <td *ngIf="userInfo.gender != '-'">
                        <input *ngIf="userInfo.gender != '-'" type="text" class="form-control login-input"
                          name="userInfo.gender" [(ngModel)]="userInfo.gender" autocomplete="off" disabled>
                      </td>
                    </tr>
                  </table><br>
                  <div class="text-right">
                    <button class="btn btn-info btn-sm" type="submit">Save Changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow">
              <div class="card-body">
                <h5><i class="fas fa-cog"> </i> Accounts Settings</h5>
                <hr>
                <b>Link your account with</b>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <button *ngIf="userInfo.google == '-'" class="btn btn-google btn-block" type="button"
                      (click)="linkWithGoogle()"> <i class="fab fa-google mr-2"> </i> Link
                      with
                      Google</button>
                    <button *ngIf="userInfo.google != '-'" disabled class="btn btn-secondary btn-block" type="button"
                      style="cursor: not-allowed;"> <i class="fab fa-google mr-2"> </i>
                      Google Linked</button>
                  </div>
                  <div class="col-md-6">
                    <button *ngIf="userInfo.facebook == '-'" class="btn btn-fb btn-block" type="button"
                      (click)="linkWithFacebook()"> <i class="fab fa-facebook-f mr-2"> </i> Link
                      with
                      Facebook</button>
                    <button *ngIf="userInfo.facebook != '-'" disabled class="btn btn-secondary btn-block" type="button"
                      style="cursor: not-allowed;"> <i class="fab fa-facebook-f mr-2"> </i>
                      Facebook Linked</button>
                  </div>
                </div>
                <br>
                <hr>
                <b>Delete Account</b>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-outline-danger btn-block" type="button" (click)="deleteAccount()"><i
                        class="fas fa-trash-alt mr-2"></i>
                      Delete Account</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>